
:root {
    /* =~= Theme Properties =~= */
    --theme-font-family-base: 'Soleil', sans-serif;
    --theme-font-family-heading: 'Fira Sans Condensed', sans-serif;
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255;
}