---
    import BaseLayout from '@layouts/BaseLayout.astro';
    import Contacts from '~components/contact/Contacts.astro';
    import Notification from '~components/ux/Notification.svelte';
	import PdfViewer from 'svelte-pdf';

    export async function getStaticPaths() {
        return [
            { params: { lang: 'en' } },
            { params: { lang: 'nl' } },
        ];
    }

    const { lang } = Astro.params

---
<BaseLayout title="Philanthropy Award 2024">

    <Notification message={lang == "en" ? "<b>You landed here because:</b> you clicked on a Mail-/Whatsapp link we shared with you to read our Letter." : "<b>Je bent hier belandt omdat:</b> je op een Mail-/Whatsapp link hebt geklikt om onze brief te bekijken."} client:load="svelte" />

    <div class="pdfviewer min-h-screen bg-gray-200 bg-[url('https://cdn.dribbble.com/users/28519/screenshots/261574/media/4271edb13d0834c2afc3d9a5c66270e7.gif')] bg-scroll bg-center bg-no-repeat bg-cover">
        <PdfViewer url="http://localhost:3000/uploads/documents/partners/AK-PA2024.pdf" showButtons={["zoom", "print", "navigation"]} client:only="svelte" />
    </div>

    <div class="container mx-auto">
        <Contacts />
    </div>
</BaseLayout>