---
// import { Image } from '@astrojs/image/components';
import BrandFlag from '~components/ui/BrandFlag.astro';
import BaseLayout from "@layouts/BaseLayout.astro";
import Linkcasts from "@components/linkcasts/Linkcasts.astro"
import { getLangFromUrl, useTranslations } from '~content/i18n/utils';

const lang = getLangFromUrl(Astro.url)

export async function getStaticPaths() {
	return [
	{ params: { lang: 'en' } },
	{ params: { lang: 'nl' } },
	];
}

---

<BaseLayout icon="house-line-bold" pack="ph" title="Cultivating Happiness" image="/images/manifest/apple-touch-startup-image-2048x1496.png" description="Truth Based Music Management. Connecting Truthspreading Artists, with lucrative tools and fair management.">
	<section class="bg-cover bg-center w-full" style="background-image: url('https://source.unsplash.com/random?african%20children');">
		<div class="bg-black/75 text-white landscape:md:p-28 p-4 landscape:pt-24">
			<div class="container mx-auto flex portrait:flex-col portrait:content-around gap-16 items-center">
				<div class="landscape:w-2/3 space-y-6 py-16 text-center">
					<h1 class="text-2xl font-medium text-orange-500">Welcome to <BrandFlag /> </h1>
					<p class="unstyled">
						Kids are kids all over the world. ArtKids cares for all kids. Here in Europe, the needs of the Kids differ from those in Africa. Whether rich or poor, every kid needs entertainment. For this reason, ArtKids works hand in hand with Schools when carrying out activities designed to entertain or further educate European Kids.
					</p>

					<p>
						From Amusement to excursions, entertainment to edutainment, ArtKids ensures kids” happiness.
					</p>

					<p>
						Let your school collaborate with ArtKids to keep the kids ever happy.
					</p>

					<a href={lang == 'en' ? '/en/fundraising-projects/' : '/nl/fondswervings-projecten/'} class="btn variant-filled-primary">Collaborate Now</a>
				</div>
				<div class="landscape:w-1/3">
					<img src="https://source.unsplash.com/random?school%20children" class="aspect-auto portrait:aspect-square rounded-xl" alt="Layout Image">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="bg-amber-600">
			<div class="container flex flex-col items-center px-4 py-16 pb-24 mx-auto text-center lg:pb-56 md:py-32 md:px-10 lg:px-32 text-gray-900">
				<h1 class="text-5xl marker font-bold sm:text-6xl xl:max-w-3xl text-gray-50">ArtKids LastMessengers Africa Project</h1>
				<p class="mt-6 mb-8 text-lg sm:mb-12 xl:max-w-3xl text-gray-50">
					Artkids LastMessengerS Music (Artkids-LMS) is discovering and producing upcoming talents, connecting Musical Talents, Movie-makers, Managers, Promoters, Marketers, ICT and Media professionals together so as to reach the world with vital messages using youthful Talents as drivers and creating self-sustaining occupations for the youths.
				</p>
				<p class="mt-6 mb-8 text-lg sm:mb-12 xl:max-w-3xl text-gray-50">
					LastMessengerS is part of Artikds #DiscoverMe Project. Please visit the Project Page or the LastMessengerS Website for more Information.
				</p>
				<div class="flex flex-wrap justify-center">
					<a href="https://lastmessengers.tv" target="_blank" title="Visit LastMessengers Website" type="button" class="btn variant-filled-primary px-8 py-3 m-2 text-lg font-semibold">LastMessengers.TV</a>
					<a href={lang == 'en' ? '/en/projects/discoverme-talenthunt' : '/nl/projecten/discoverme-talentenjacht'} title="" type="button" class="btn variant-ringed-warning px-8 py-3 m-2 text-lg">#DiscoverMe Project</a>
				</div>
			</div>
		</div>
		<div class="aspect-video overflow-hidden w-5/6 mx-auto mb-12 -mt-20 rounded-lg shadow-md lg:-mt-40 bg-gray-500">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/7TbRQTYxruo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</section>



	<Linkcasts />

</BaseLayout>