---
// import { Image } from '@astrojs/image/components';
import BrandFlag from '~components/ui/BrandFlag.astro';
import BaseLayout from "@layouts/BaseLayout.astro";
import Linkcasts from "@components/linkcasts/Linkcasts.astro"

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'nl' } },
  ];
}

---

<BaseLayout icon="house-line-bold" pack="ph" title="Artkids Foundation - Cultivating Happiness" image="/images/manifest/apple-touch-startup-image-2048x1496.png" description="Truth Based Music Management. Connecting Truthspreading Artists, with lucrative tools and fair management.">
		<section class="bg-cover bg-center w-full" style="background-image: url('https://source.unsplash.com/random?innocent%20children');">
			<div class="bg-black/75 landscape:md:p-28 p-4 pt-24 text-left text-white">
				<div class="container mx-8 flex items-center">
					<div class="w-2/3">
						<BrandFlag />
						<h1 class="text-5xl font-medium my-8">Welcome to ArtKidsFoundation.org</h1>
						<p class="text-2xl mb-12"> Artkids Foundation are restoring one of the ancient music values~TRUTH, by packaging messages as enjoyable songs targeting the curious ears of the general public. </p>
					</div>
					<div class="w-1/3 pl-16">
						<img src="https://source.unsplash.com/random?african%20popstar" class="h-72 w-3/4 object-cover rounded-xl" alt="Layout Image">
		  			</div>
				</div>
			</div>
		</section>

	<Linkcasts />


</BaseLayout>