---
import BaseLayout from "~layouts/BaseLayout.astro";

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'nl' } },
  ];
}
---

<BaseLayout title="Artkids Foundation - Message Sent " description="Discover all Artkids Foundation and their Truth Unveiling Music">
<h1>Congratulations</h1>
<p>Your Message has been sent. Great success!</p>
</BaseLayout>