---
import { Accordion, AccordionItem, TableOfContents } from "@skeletonlabs/skeleton";
import Icon from "astro-icon";

// 1. Get the slug from the incoming server request
const { frontmatter, headings } = Astro.props;
---

<section class="bg-cover bg-center w-full" style="background-image: url('https://source.unsplash.com/random?galaxies');">
	<div class="bg-white/90 dark:bg-black/75 p-8 pt-16">
		<div class="container mx-auto flex portrait:flex-col gap-8 items-center mb-8">
			<div class="landscape:md:w-1/3 landscape:sm:1/3 landscape:xl:w-1/4 landscape:sticky landscape:top-4 landscape:self-start space-y-6 portrait:w-full portrait:pb-8 portrait:border-b portrait:border-primary-600-300-token">
				<h2 class="landscape:hidden marker text-red-500 mb-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold">
					<span class="flex items-center justify-start">
						<Icon pack={frontmatter.pack || "teenyicons"} name={frontmatter.icon || "anchor-solid"} class={"h-8 w-8 lg:h-10 lg:w-10 portrait:h-10 portrait:w-10 p-1 portrait:pr-4"} />
						<span>
							{frontmatter.title}
						</span>
					</span>
				</h2>

				<img src="https://source.unsplash.com/random?african%20children" class="portrait:aspect-video landscape:aspect-auto object-cover rounded-xl !mt-0" alt="Layout Image">
				<Accordion autocollapse="true" client:only>
					<AccordionItem client:only>
						<svelte:fragment slot="lead"><div class="p-4 font-black"><Icon name="teenyicons:attachment-outline"></Icon></div></svelte:fragment>
						<svelte:fragment slot="summary"><div class="p-4 font-black">Downloadable Documents</div></svelte:fragment>
						<svelte:fragment slot="content">
							<nav class="list-nav">

							<ul class="list">
								<li><a href={"/uploads/documents/ArtKids Activiteitenkalender 2023-2024.pdfBeleidsplan.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Activiteitenkalender 2023-2024</span></a></li>
								<li><a href={"/uploads/documents/Beleidsplan.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Beleidsplan Artkids Foundation</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2012.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2012</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2013.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2013</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2014.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2014</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2015.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2015</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2016.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2016</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2017.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2017</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2018.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2018</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2019.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2019</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2020.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2020</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2021.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2021</span></a></li>
								<li><a href={"/uploads/documents/Jaarverslag 2022.pdf"}><span><Icon name={"vscode-icons:file-type-pdf2"} /></span> <span>Jaarverslag 2022</span></a></li>
							</ul>
							</nav>
						</svelte:fragment>
					</AccordionItem>
					<AccordionItem open="true" client:only>
						<svelte:fragment slot="lead"><div class="p-4 font-black"><Icon name="mdi:table-of-contents"></Icon></div></svelte:fragment>
						<svelte:fragment slot="summary"><div class="p-4 font-black">Page Content</div></svelte:fragment>
						<svelte:fragment slot="content">
							<TableOfContents target="#toc-target" label="" width="w-full" client:only />
						</svelte:fragment>
					</AccordionItem>
				</Accordion>
			</div>
			<div class="landscape:sm:2/3 landscape:md:w-2/3 landscape:xl:w-3/4 ">
				<div class="portrait:hidden">
					{frontmatter.subtitle &&
						<h3 class="text-red-600 unstyled drop-shadow text-lg font-bold" >{frontmatter.subtitle}</h3>
					}
					<h2 class="marker text-primary-600 mb-8 unstyled drop-shadow landscape:text-4xl portrait:text-3xl font-bold" >
						<span class="flex items-center justify-start">
							<Icon pack={frontmatter.pack || "teenyicons"} name={frontmatter.icon || "anchor-solid"} class={"h-8 w-8 lg:h-10 lg:w-10 portrait:h-10 portrait:w-10 p-1 portrait:pr-4"} />
							<span>
								{frontmatter.title}
							</span>
						</span>
					</h2>
				</div>
				<div id="toc-target" class="prose max-w-none prose-stone space-y-6 prose-table:table-auto prose-p:text-lg prose-p:text-primary-800-100-token prose-headings:text-primary-800-100-token">
					<slot />
				</div>
			</div>
		</div>
	</div>
</section>

<style is:global>
	#toc-target a.permalink {
		display:none;
	}
</style>