---
import HeroFormDark from '~components/headers/HeroFormDark.astro';
import Contacts from '~components/contact/Contacts.astro';

let { title, subtitle, description, callToAction, image, imageAlt } = Astro.props.frontmatter || Astro.props?.data

// console.log(Astro.props)
---
	<div class="space-y-6">
		<slot />
		<hr />
	</div>

	<Contacts />
