<div class="app-loader backdrop-saturate-50 backdrop-blur-sm w-screen h-screen flex flex-col justify-around items-center fixed top-0 left-0 z-40">
    <div class="wrapper w-screen flex flex-row items-center justify-center scale-100 transition-transform duration-500 z-40">
        <div class="image flex flex-row justify-around items-center">
            <div class="marker h-full w-full italic font-sans items-center !no-underline drop-shadow-xl hover:text-yellow-400 dark:focus:text-gray-100 px-2 py-4">
                <h1 class="unstyled flex items-center gap-1 transition-colors duration-500 text-left font-extrabold text-7xl hover:text-yellow-400 dark:focus:text-gray-100">
                    <figure class="image transition-all duration-500 m-0 p-0 w-20 xs:w-16 lg:w-24 xl:w-32 mr-4 md:mr-8">
                        <img loading="eager" width={128} height={136} class="drop-shadow-2xl" src="/logo-512.png" alt="Artkids Foundation Home" format="avif"/>
                    </figure>
                    <span>
                        <span class="block text-red-500">Artkids</span><span class=" text-yellow-400">Foundation</span><span class="text-green-500">.org</span>
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <h2 class="uppercase text-white text-xl font-bold drop-shadow-2xl leading-6 md:text-2xl md:leading-8 lg:text-4xl xl:text-5xl lg:leading-12 xl:leading-16 hover:text-yellow-400 dark:focus:text-gray-10">Loading...</h2>
</div>


<style is:global>
    .app-loader {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 600ms;
        background: linear-gradient(141deg,#cd2907 0%,#eb621c 71%,#f3912e 100%);
    }

    .loaded .app-loader .wrapper {
        transform: scale(0, 0);
    }

    .loaded .app-loader {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 600ms, opacity 600ms;
    }

    .app-loader .image {
        transform: translatey(0px);
    }

    /* img {
        opacity: 0;
        transition: opacity 600ms;
        animation: fadeInAnimation ease-in-out 600ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    } */

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .loaded .progress-5 {
        animation: unset;
        background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(0*100%/4)
    }
</style>