---
import Icon from "astro-icon";

const { title, icon, pack } = (Astro.props)
---
<div class="flex justify-between items-center">
    <figure class="landscape:xl:opacity-0 image transition-all duration-500 m-0 p-0 w-12 -ml-1 rounded-full ring-black">
        <a href="/" title="Home">
            <img loading="lazy" width={64} height={68} src="/logo-512.png" alt="Artkids Foundation Home"/>
        </a>
    </figure>

    <p class="marker transition-colors duration-500 text-center text-2xl leading-4 md:text-xl md:leading-5 lg:text-2xl xl:text-4xl lg:leading-7 xl:leading-9 drop-shadow-2xl hover:text-yellow-400 dark:focus:text-gray-100">
        <span class="flex items-center justify-center">
        <Icon pack={pack || "teenyicons"} name={icon || "anchor-solid"} class={"h-8 w-8 p-1"} />
        <span>
        {title}
        </span>
        </span>
    </p>

    <p>User</p>
</div>

<style>
    figure {
        border: 3px solid black;
        transform: translateX(-4px);
    }
</style>